figure, figcaption {
	display: block;}
	figure {
		float: right;
		width: 260px;
		height: 140px;
		padding: 50px;
		margin: 20px;
		border: 2px solid #eeeeee;
		}

	figcaption {
		float: left;
		margin-left: 80px;
		margin-top: 10px;
		 color: #ef4d8b;
		}